<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Salvatore D'Angelo Wellness{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block extra_css %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>

<body>
    {% include 'header.html' %}

    <div class="container main">
        {% include 'sidebar.html' %}
        <main id="content">
            {% block content %}{% endblock %}
        </main>
    </div>

    {% include 'footer.html' %}

    {% block extra_scripts %}{% endblock %}
</body>

</html>