<header>
    <div class="container">
        <div id="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" width="120" height="120">
        </div>
        <nav id="social-nav">
            <a href="#" target="_blank"><img src="{{ url_for('static', filename='img/facebook.png') }}"
                    alt="Facebook"></a>
            <a href="#" target="_blank"><img src="{{ url_for('static', filename='img/twitter.png') }}"
                    alt="Twitter"></a>
            <a href="#" target="_blank"><img src="{{ url_for('static', filename='img/instagram.png') }}"
                    alt="Instagram"></a>
        </nav>
    </div>
</header>